// 
// Buttons
// 

//- Custom XL button styling

.btn-sm {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #6B705C;
}

.btn-md {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.btn-lg {
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #6B705C;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}


.content {
    margin-right: 1rem;
    font-size: 1rem;
}