// 
// Masthead
// 

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});

    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!

    background: linear-gradient(to bottom,
        #{fade-out($brown, 0.2)} 0%,
        #{fade-out($brown, 0.2)} 100%),
    url("../assets/img/bg-masthead.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-size: 2.25rem;
    }

    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        padding-top: $navbar-height;
        padding-bottom: 0;

        p {
            font-size: 1.15rem;
        }

        h1 {
            font-size: 3rem;
        }
    }

    @include media-breakpoint-up(xl) {
        h1 {
            font-size: 3.5rem;
        }
    }

    /*--------------------------------------------------------------
    # Hero
    --------------------------------------------------------------*/
    #hero {
        
        height: 100vh;
        width: 100%;
    }

    #hero .hero-content {
        height: 100vh;
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .hero-content h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #fff;
    }

    .hero-content p {
        font-size: 13px;
        letter-spacing: 3px;
        margin-top: 0;
        margin-bottom: 30px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 500;
    }

    .hero-content .list-social li {
        float: left;
        margin-right: 20px;
    }

    .hero-content .list-social li i {
        color: #fff;
        font-size: 15px;
    }
}
